<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>

  <br />
  <br />

  <div class="container">
    <div><app-alldata></app-alldata></div>

    <br />

    <div class="d-flex justify-content-center">
      <h1 class="display-6">Create Contest</h1>
    </div>
    <!-- </form> -->

    <!-- Contest form -->

    <form [formGroup]="contestform">
     
      <br />

      <!-- PAir 1 -->
      <div class="d-flex justify-content-around">
        <!-- contestname -->
        <div>
          <input
            type="text"
            formControlName="contestname"
            placeholder="  Enter Contest name"
            title="Enter Contest name"
          />
          <div class="d-flex justify-content-center">
            <span [hidden]="contestname.valid || contestname.untouched">
              <div
                class="validation"
                [hidden]="!contestname.hasError('minlength')"
              >
                <span class="validationStar">*</span> Contest Name cannot be less
                than 4 characters.
              </div>
              <div
                class="validation"
                [hidden]="!contestname.hasError('required')"
              >
                <span class="validationStar">*</span> Contest Name is required.
              </div>
            </span>
          </div>
        </div>

        <!-- Entry fee       -->
        <div>
          <input
            type="text"
            formControlName="entryfee"
            placeholder="  Enter Entry fee"
          />
          <div class="d-flex justify-content-center">
            <span [hidden]="entryfee.valid || entryfee.untouched">
              <div class="validation" [hidden]="!entryfee.hasError('required')">
                <span class="validationStar">*</span>Entry fee is required.
              </div>
              <div class="validation" [hidden]="!entryfee.hasError('pattern')">
                <span class="validationStar">*</span> Points should be in numeric.
              </div>
            </span>
          </div>
        </div>
      </div>

    <!-- PAir 2 -->
      <!-- Enter Max sixe -->
      <div class="d-flex justify-content-around">

        <div>
        <input
          type="text"
          formControlName="maxsize"
          placeholder="  Enter Max size "
        />
        <div class="d-flex justify-content-center">
          <span [hidden]="maxsize.valid || maxsize.untouched">
            <div class="validation" [hidden]="!maxsize.hasError('required')">
              <span class="validationStar">*</span> Max size is required.
            </div>
            <div class="validation" [hidden]="!maxsize.hasError('pattern')">
              <span class="validationStar">*</span> Points should be in numeric.
            </div>
          </span>
        </div>
        </div>
        <div>
        <!-- minsize -->
        <input
          type="text"
          formControlName="minsize"
          placeholder="  Enter Min size "
        />
        <div class="d-flex justify-content-center">
          <span [hidden]="minsize.valid || minsize.untouched">
            <div class="validation" [hidden]="!minsize.hasError('required')">
              <span class="validationStar">*</span> Min size is required.
            </div>
            <div class="validation" [hidden]="!minsize.hasError('pattern')">
              <span class="validationStar">*</span> Points should be in numeric.
            </div>
          </span>
        </div>
        </div>
      </div>



      <!-- Pair 3 -->
      <!-- prizemoney -->
      <div class="d-flex justify-content-around">

        <div>
      <input
        type="text"
        formControlName="prizemoney"
        placeholder="  Enter Prize money "
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="prizemoney.valid || prizemoney.untouched">
          <div class="validation" [hidden]="!prizemoney.hasError('required')">
            <span class="validationStar">*</span> Total Prize money is required.
          </div>
          <div class="validation" [hidden]="!prizemoney.hasError('pattern')">
            <span class="validationStar">*</span> Points should be in numeric.
          </div>
        </span>
      </div>
      </div>



      <!-- rank1 -->
      <div>
      <input
        type="text"
        formControlName="rank1"
        placeholder="  Enter #1 Prize money "
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="rank1.valid || rank1.untouched">
          <div class="validation" [hidden]="!rank1.hasError('required')">
            <span class="validationStar">*</span> rank 1 prize money is required.
          </div>
          <div class="validation" [hidden]="!rank1.hasError('pattern')">
            <span class="validationStar">*</span> Points should be in numeric.
          </div>
        </span>
      </div>
      </div>

      </div>


      <!-- Pair 4 -->
      <!-- rank2 -->
      <div class="d-flex justify-content-around">

        <div>

          <input
          type="text"
        formControlName="rank2"
        placeholder="   Enter #2 Prize money "
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="rank2.valid || rank2.untouched">
          <div class="validation" [hidden]="!rank2.hasError('required')">
            <span class="validationStar">*</span> rank 2 prize money is required.
          </div>
          <div class="validation" [hidden]="!rank2.hasError('pattern')">
            <span class="validationStar">*</span> Points should be in numeric.
          </div>
        </span>
      </div>
    </div>

      <!-- rank3 -->

      <div>

        <input
        type="text"
        formControlName="rank3"
        placeholder="  Enter #3 Prize money "
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="rank3.valid || rank3.untouched">
          <div class="validation" [hidden]="!rank3.hasError('required')">
            <span class="validationStar">*</span> Rank 3 prize money is required.
          </div>
          <div class="validation" [hidden]="!rank3.hasError('pattern')">
            <span class="validationStar">*</span> Points should be in numeric.
          </div>
        </span>
      </div>
      </div>
          </div>
          

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success me-5" (click)="save()" [disabled]="!contestform.valid">
          Save
        </button>


        <button type="submit" class="btn btn-danger"  (click)="cancel()">
          
          Cancel
          </button>
        <br />
      </div>
    </form>
  </div>
</div>
