
tr:hover {
    box-shadow: 6px 6px 5px rgba(86, 86, 86, 0.727);
      
      transform: scale(1.01); 
  }

  
  .validation {
    color: rgb(255, 255, 255);
  }
  .validationStar {
    color: rgb(255, 4, 4);
    font-weight: bold;
    font-size: 1.5em;
  }

  