*{
  overflow: hidden;
} 
.fixtureCard{
    // background: radial-gradient(circle,rgba(0,117,255,1)  0%, rgba(255,0,112,1) 100%);
    background-size: 100%;
    background-image: url("https://wallpapercave.com/wp/wp2747939.jpg");
  
  } 