

 .card { 
    background-image: url("https://img.freepik.com/free-vector/gradient-blue-abstract-technology-background_23-2149213765.jpg");
    background-size: 100%;
    border-radius: 10%;
} 

.dataheading{

    color: rgb(255, 255, 255);
}
.datacount{

    color: rgb(0, 0, 0);
}