<div class="container">
  <br /><br />
  <div class="d-flex justify-content-around"> 
    <div class="card " style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title dataheading">Total Contest</h5>
        <h5 class="card-title datacount">0</h5>
      </div>
    </div>
 
    <div class="card " style="width: 18rem">  
      <div class="card-body">
        <h5 class="card-title dataheading ">Total Users Joined</h5>
        <h5 class="card-title datacount">{{teamsLength}}</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title dataheading">Total Sales</h5>
        <h5 class="card-title datacount">0</h5>
      </div>
    </div>
  </div>
</div>
