.navbar {
  background-image: linear-gradient(to right, #9ed3ff, #7575ff);

  
  padding: 0;
}

a { 
  color: rgb(255, 255, 255);
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    rgb(0, 92, 241),
    rgb(45, 0, 167)
  );
  border-radius: 10%;
  text-decoration: none;
  font-weight:bold 
}
a:hover{
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    rgb(0, 92, 241),
    rgb(45, 0, 167)
  );

}

input{
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.727);

}
input:hover {
  box-shadow: 6px 6px 5px rgba(86, 86, 86, 0.727);
    
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.brandNamePick{
  background: radial-gradient(circle, rgba(255,0,112,1) 0%, rgba(0,117,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.cont {
  
  background: radial-gradient(circle, #b300ff 0%, rgba(0,117,255,1) 100%);


} 