<nav class="navbar sticky-top navbar-expand-sm navbar-light navbar">
  <div class="container-fluid">
    <h3 class="brandName">
      <span class="brandNamePick h2">Pick</span
      ><span class="brandNamePick h5">your</span
      ><span class="brandNamePick h2">Team</span>
    </h3>
    <!-- <a href="#"> 
      <img
        src="../assets/images/pick-your-team.jpg"
        alt=""
        width="120"
        height="44"
        class="navbar-brand"
        class="d-inline-block align-text-top"
      />
    </a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse ms-5 justify-content-end"
      id="navbarNavDropdown"
    >

      <a class="nav-link me-5" routerLink="signup">Signs Up</a>
      <a class="nav-link me-5" routerLink="login">User Login</a>
      <a class="nav-link me-5" routerLink="adminlogin">Admin Login</a>
    </div>
  </div>
</nav>
<div class="cont">
  <router-outlet></router-outlet>
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
</div>
