.create {
  margin-right: 1px red;
  &:hover{
    color: rgb(85, 178, 255)
  }
  margin-top: 1px red;

}
h3{
  margin-bottom: 0px;
}

.create:hover {
  box-shadow: 2px 3px 2px 6px rgba(0, 106, 227, 0.727);
    
    // transform: scale(1.05); 
}

.navbars {
  cursor: pointer;

 

}
