

<nav class="align-self-stretch" style="background-color: #cce8fc"  height="100%" class="navbars ">
  
    <div >
    <br>
    <div class="d-flex justify-content-center">
<h4></h4>
  
      <h3 class="display-6 " >

        Admin Panel
        
      </h3>
    </div>
    <br>

    <div (click)="fixtures()" class=" d-flex justify-content-center create"> 
    <h3>Match Fixtures</h3>
    </div>
    <br>

    <div (click)="result()" class=" d-flex justify-content-center create">
      <h3>Match Result</h3>
    </div>
<br>

    <div (click)="live()" class=" d-flex justify-content-center create">
      <h3>Live Match</h3>
    </div>
    
<br>

    <div (click)="showUsers()" class=" d-flex justify-content-center create">
      <h3>Users</h3>
    </div>
    <br>
    <div (click)="rules()" class=" d-flex justify-content-center create">
      <h3>Game Rules</h3>
    </div>
    <br>

    <div (click)="players()" class=" d-flex justify-content-center create active">
      <h3>Players</h3>
    </div>
    <br>
    <div (click)="allTeam()" class=" d-flex justify-content-center create active">
      <h3>Teams</h3>
    </div>
    <br>

    <div (click)="createContest()" class="create d-flex justify-content-center">
      <h3>All Contests</h3>
    </div>
    <br> 

    <div (click)="password()"  class="create d-flex justify-content-center">
     <h4></h4> <h3>Change Password </h3>
    </div>
    <br>
    <div (click)="map()"  class="create d-flex justify-content-center">
      <h4></h4> <h3>Map Contest Fixture</h3>
     </div>
     <br>
    <br> 
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br><br>
    <br> 
    <br>
    <br>

  </div>
</nav>
