
<form [formGroup]="editTable" >


<br><br>

  
<select (click)="clicked1()"  formControlName="carname1"  id="carssss">
    <option value="">Select 1</option>
    <option  *ngFor="let car of cars1"  value="{{ car }}">{{ car }}</option>
  </select>
  
   <br>
<select  (click)="clicked2()"  formControlName="carname2" name="carstt" id="carstt">
    <option value="">Select 2</option>
    <option *ngFor="let car of cars2"   value="{{ car }}">{{ car }}</option>
  </select>
  <br>
  
  
  
</form>