<!-- Sidebar -->
<div class="d-flex flex-row"> 
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>
  <br /> 

  <br />

  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br /><br />
    <div class="d-flex justify-content-center">
      <h1 class="display-6">Create Player</h1>
    </div>
    <br /><br />
    <form
      class="justify-content-center"
      [formGroup]="playerForm"
      (ngSubmit)="onFormSubmit()"
    >
      <!-- name -->
      <input
        type="text"
        formControlName="name"
        placeholder="  Enter Player name"
      />

      <div class="d-flex justify-content-center">
        <span [hidden]="name.valid || name.untouched">
          <div class="validation" [hidden]="!name.hasError('minlength')">
            <span class="validationStar">*</span> Player Name cannot be less
            than 4 characters.
          </div>

          <div class="validation" [hidden]="!name.hasError('required')">
            <span class="validationStar">*</span> Player Name is required.
          </div>
        </span>
      </div>

      <!-- Team name -->
      <div class="d-flex justify-content-center" style="margin-top: 2em">
        <select
          style="width: 35%; height: 50px"
          formControlName="team_name"
          id="cars"
        >
          <option value="">Choose team name</option>

          <option *ngFor="let team of teams" value="{{ team.name }}">
            {{ team.name }}
          </option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <span [hidden]="team_name.valid || team_name.untouched">
          <div class="validation" [hidden]="!team_name.hasError('required')">
            <span class="validationStar">*</span> Team Name is required. Please
            Select it from Dropdown
          </div>
        </span>
      </div>

      <!-- Player Skills -->
     
      <div class="d-flex justify-content-center" style="margin-top: 2em">
        <select style="width: 35%; height: 50px" formControlName="skills">
          <option value="">Choose Player Skills</option>
          <option value="Batter">Batter</option>
          <option value="Bowler">Bowler</option>
          <option value="All Rounder">All Rounder</option>
          <option value="Batter/Wicket Keeper">Batter/Wicket Keeper</option>
        </select>
      </div>
      <div class="d-flex justify-content-center">
        <span [hidden]="skills.valid || skills.untouched">
          <div class="validation" [hidden]="!skills.hasError('required')">
            <span class="validationStar">*</span> Skills is required.
          </div>
        </span>
      </div>

      <!-- Player Points --> 
      <input
        type="text" 
        formControlName="points"
        placeholder="Enter Player points"
      />

       

      <div class="d-flex justify-content-center">
        <span [hidden]="points.valid || points.untouched">
          <div class="validation" [hidden]="!points.hasError('required')">
            <span class="validationStar">*</span> Points is required.
          </div>
          <div class="validation" [hidden]="!points.hasError('pattern')">
            <span class="validationStar">*</span> Points should be in numeric.
          </div>
        </span>
      </div>



      <!-- Submit Button -->
      <div class="submitBtn d-flex justify-content-around">
        <button
          type="submit"
          [disabled]="!playerForm.valid"
          class="btn btn-success"
        >
          Submit
        </button>
        <button (click)="cancel()"  class="btn btn-danger">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
