<br />
<!-- <br /> -->
<div > 
  <div class="d-flex justify-content-center">
<svg xmlns="http://www.w3.org/2000/svg" width="75px" viewBox="0 0 1010 1010" id="sign"><circle cx="505" cy="505" r="505" fill="#FC6E51"></circle><path fill="#454545" d="M339.47 465.96c-2.338 0-4.686-.808-6.594-2.455-4.222-3.64-4.69-10.03-1.05-14.252l139.15-161.265c3.64-4.221 10.022-4.685 14.248-1.046 4.222 3.64 4.69 10.022 1.05 14.243L347.124 462.45a10.08 10.08 0 01-7.654 3.512zM670.53 465.96a10.079 10.079 0 01-7.653-3.51L523.726 301.184c-3.64-4.221-3.171-10.603 1.05-14.243 4.216-3.649 10.598-3.175 14.247 1.046l139.152 161.265c3.64 4.222 3.17 10.612-1.051 14.252a10.058 10.058 0 01-6.594 2.456z"></path><path fill="#FFB933" d="M773.213 678.574c0 24.875-20.615 45.233-45.865 45.233H283.796c-25.23 0-45.884-20.358-45.884-45.233V501.351c0-24.896 20.654-45.253 45.884-45.253h443.552c25.25 0 45.865 20.357 45.865 45.253v177.223z"></path><path fill="#454545" d="M727.348 733.907H283.796c-30.872 0-55.983-24.816-55.983-55.333V501.351c0-30.517 25.111-55.353 55.983-55.353h443.552c30.857 0 55.965 24.836 55.965 55.353v177.223c0 30.517-25.108 55.333-55.965 55.333zm-443.552-267.71c-19.731 0-35.784 15.762-35.784 35.154v177.223c0 19.371 16.052 35.133 35.784 35.133h443.552c19.721 0 35.764-15.762 35.764-35.133V501.351c0-19.392-16.043-35.154-35.764-35.154H283.796z"></path><g fill="#454545"><path d="M404.36 592.37c0 28.286-22.971 50.213-52.6 50.213-29.635 0-52.602-21.927-52.602-50.214 0-28.446 22.967-49.948 52.601-49.948 29.63 0 52.601 21.65 52.601 49.948zm-88.187 0c0 19.656 16.304 35.22 35.725 35.22 19.425 0 35.305-15.564 35.305-35.22 0-19.669-15.88-34.946-35.305-34.946-19.565 0-35.725 15.277-35.725 34.945zM463.229 542.856c24.95 0 39.271 12.308 39.271 33.81 0 22.35-14.322 35.36-39.271 35.36H440.4v29.857h-16.728v-99.027h39.557zM440.4 597.034h22.124c15.303 0 23.953-6.51 23.953-19.953 0-13.01-8.65-19.233-23.953-19.233H440.4v39.186zM537.253 557.848v26.739h48.493v14.992h-48.493v27.302h55.866v15.002h-72.594v-99.028h70.892v14.993h-54.164zM684.59 641.883l-52.886-71.016v71.016h-16.738v-99.028h16.452l53.173 71.154v-71.154h16.442v99.028h-16.442z"></path></g><path fill="#454545" d="M298.512 509.152h-20.2v-20.2h20.2v20.2zM298.512 690.952h-20.2v-20.2h20.2v20.2zM732.813 509.152h-20.2v-20.2h20.2v20.2zM732.813 690.952h-20.2v-20.2h20.2v20.2z"></path><path fill="#FFF" d="M536.7 277.474c0 17.497-14.202 31.68-31.69 31.68-17.497 0-31.69-14.183-31.69-31.68 0-17.478 14.193-31.681 31.69-31.681 17.488 0 31.69 14.203 31.69 31.68z"></path><path fill="#454545" d="M505.01 319.255c-23.046 0-41.79-18.74-41.79-41.781 0-23.04 18.744-41.781 41.79-41.781s41.79 18.74 41.79 41.78c0 23.042-18.744 41.782-41.79 41.782zm0-63.362c-11.905 0-21.591 9.686-21.591 21.58 0 11.906 9.686 21.582 21.59 21.582 11.906 0 21.592-9.676 21.592-21.581 0-11.895-9.686-21.581-21.591-21.581z"></path></svg>
  </div>
  <div class="d-flex justify-content-center">
    <h1 class="display-6">
      Sign Up
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        fill="currentColor"
        class="bi bi-check-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </svg>
    </h1>
  </div>
  
 
</div>

<div class="container justify-content-center">
  <!-- <br /> -->

  <form
    class="justify-content-center"
    [formGroup]="userForm"
    (ngSubmit)="onFormSubmit()"
  >
  <div class="d-flex justify-content-center">
    
  </div>
    <!-- firstname -->
    <input
      type="text"
      title="firstname"
      formControlName="firstname"
      placeholder="     Enter Firstname"
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="firstname.valid || firstname.untouched">
        <div class="validation" [hidden]="!firstname.hasError('minlength')">
          <span class="validationStar">*</span> FirstName cannot be less than 4
          characters.
        </div>
        <div class="validation" [hidden]="!firstname.hasError('required')">
          <span class="validationStar">*</span> FirstName is required.
        </div>
      </span>
    </div>
    <!-- lastname -->
    <input
      type="text"
      title="lastname"
      formControlName="lastname"
      placeholder="     Enter Lastname"
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="lastname.valid || lastname.untouched">
        <div class="validation" [hidden]="!lastname.hasError('minlength')">
          <span class="validationStar">*</span> LastName cannot be less than 4
          characters.
        </div>
        <div class="validation" [hidden]="!lastname.hasError('required')">
          <span class="validationStar">*</span> LastName is required.
        </div>
      </span>
    </div>
    <!-- username -->
    <input
      type="text"
      title="username"
      formControlName="username"
      placeholder="     Enter New username"
    />
    <div class="d-flex justify-content-center">


      <span *ngIf="userNameStatus">
        <span class="validationStar" userNameStatus>*</span>
        <span class="validation"
          >Username is Already occupied by another user. Please enter a new
          username.</span
        >
      </span>



      
      <span [hidden]="username.valid || username.untouched">
        <div class="validation" [hidden]="!username.hasError('minlength')">
          <span class="validationStar">*</span> Username cannot be less than 4
          characters.
        </div>
        <div class="validation" [hidden]="!username.hasError('required')">
          <span class="validationStar">*</span> Username is required.
        </div>
      </span>
    </div>
    <!-- password -->
    <input
      formControlName="password"
      type="password"
      placeholder="    Enter New password"
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="password.valid || password.untouched">
        <div class="validation" [hidden]="!password.hasError('minlength')">
          <span class="validationStar">*</span> Password cannot be less than 4
          characters.
        </div>
        <div class="validation" [hidden]="!password.hasError('required')">
          <span class="validationStar">*</span> Password is required.
        </div>
      </span>
    </div>
    <!-- Email -->
    <input type="text" formControlName="email" placeholder="    Enter Email" />
    <div class="d-flex justify-content-center">
      <span [hidden]="email.valid || email.untouched">
        <div class="validation" [hidden]="!email.hasError('minlength')">
          <span class="validationStar">*</span> Email cannot be less than 7
          characters.
        </div>
        <div class="validation" [hidden]="!email.hasError('required')">
          <span class="validationStar">*</span> Email is required.
        </div>
      </span>
    </div>
    <!-- phoneNumber -->
    <input
      type="number"
      formControlName="mobile"
      placeholder="    Enter New Mobile Number"
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="mobile.valid || mobile.untouched">
        <div class="validation" [hidden]="!mobile.hasError('minlength')">
          <span class="validationStar">*</span> Mobile Number cannot be less
          than 4 characters.
        </div>
        <div class="validation" [hidden]="!mobile.hasError('required')">
          <span class="validationStar">*</span> Mobile Number is required.
        </div>
      </span>
    </div>
<br>
    <!-- Submit button -->

    <div class="submitBtn d-flex justify-content-around">
      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="btn btn-success"
      >
        Sign Up
      </button>
      <button (click)="login()" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
