
* {box-sizing: border-box;}
a:link {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}
 

.row:hover {
  img{
  text-shadow: 6px 6px 5px rgba(86, 86, 86, 0.727);
  
  transform: scale(1.07); }
  .dd{
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.727);
    
  }

}

.btn_contests:hover{
  background-size: 100%;
  color: black;
  background-color: rgb(190, 190, 190);
}


.fixtureCard{
  // background: radial-gradient(circle,rgba(0,117,255,1)  0%, rgba(255,0,112,1) 100%);
  background-size: 100%;
  background-image: url("https://t4.ftcdn.net/jpg/04/37/93/59/240_F_437935932_eJsRZ3d11tpE5g7gW7DfVboXdkSAorLI.jpg");

} 
a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.ahover{

  text-decoration: none;
  color: rgb(0, 0, 0);
}
.ahover:hover{
  cursor: pointer;
  color: rgb(255, 0, 0);
  text-decoration: none;
  text-decoration: none;
}
.ahover1{
  text-decoration: none;
  color: white;
}
.ahover1:hover{
cursor: pointer;
color: rgb(255, 0, 0);
text-decoration: none;
text-decoration: none;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}