<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>
  <br />

  <br />

  <div class="container">
    <div><app-alldata></app-alldata>
    </div>
    <br /><br /><br />
    <div class="d-flex justify-content-center">
      <h1 class="display-6">Create Team</h1>
    </div>
    <br />
    <form
      action=""
      class="justify-content-center"
      [formGroup]="teamForm"
      (ngSubmit)="onFormSubmit()"
    >
      <!-- team_name -->
      <input
        type="text"
        formControlName="name"
        placeholder="  Enter Team name"
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="name.valid || name.untouched">
          <div class="validation" [hidden]="!name.hasError('minlength')">
            <span class="validationStar">*</span> Team Name cannot be less than
            4 characters.
          </div>
          <div class="validation" [hidden]="!name.hasError('required')">
            <span class="validationStar">*</span> Team Name is required.
          </div>
        </span>
      </div>

      <!-- LOGO Url -->
      <input
        type="text"
        formControlName="logo"
        placeholder=" Enter Team Logo URL"
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="logo.valid || logo.untouched">
          <div class="validation" [hidden]="!logo.hasError('required')">
            <span class="validationStar">*</span> Please enter Logo URL
          </div>
        </span>
      </div>

      <div class="submitBtn d-flex justify-content-around">
        <button
          type="submit"
          [disabled]="!teamForm.valid"
          class="btn btn-success"
        >
          Submit
        </button>
        <button (click)="cancel()" type="submit" class="btn btn-danger">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
