input {
    display: block;
    margin: auto auto;
    margin-top: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 2px solid rgb(28, 255, 20);
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
   
  }
  .submitBtn {
    display: block;
    margin: auto auto;
    width: 50%;
    margin-bottom: 2em;
    padding: 0.5em 5px;
    border: none;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none; 
    }
  }
  
.validation{
  color: rgb(255, 255, 255);
  }
  .validationStar{
    color: rgb(255, 4, 4);
    font-weight: bold;
    font-size: 1.5em;
    }

    
input{
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.727);
  
}
input:hover {
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.727);
    
    transform: scale(1.05); 
}

tr:hover {
  box-shadow: 6px 6px 5px rgba(86, 86, 86, 0.727);
    
    transform: scale(1.005); 
}