<!-- Sidebar -->
<div class="d-flex flex-row">
    <div class="w3-light-grey w3-bar-block" style="width: 25%">
      <app-admin></app-admin>
    </div>
  
    <br />  
    <br /> 
  
    <div class="container">
      <div><app-alldata></app-alldata></div>
  
      <br />
      <div class="d-flex justify-content-around">

        <h1 class="display-6">All Contests</h1>
        <button (click)="createContest()" class="btn btn-primary">New Contest</button>
  </div>
  <br>
      <!-- </form> -->
   
      <table *ngIf="editStatus"
      class="table table-dark table-hover table-striped"
      >
      <thead class="text-light bg-dark">
        <tr>
      <!-- id, contestname, entryfee, maxsize, minsize, prizemoney, rank1, rank2, rank3 -->
      <th [hidden]="true" scope="col">ID</th>
      <!-- <th scope="col">League Stage</th> -->
      <th scope="col">No.</th>
      <th scope="col">Contest Name</th>
      <th scope="col">&#8377;Entry Fee</th>
      <th scope="col">Max Size(Users)</th>
      <th scope="col">Min Size(Users)</th>
      <th scope="col">Prize Money</th>
      <th scope="col">Rank1</th>
      <th scope="col">Rank2</th>
      <th scope="col">Rank3</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let con of contests ; let i=index">
      <td >
        <span>{{ con.id }}</span>
      </td>
      <!-- <td >
        <span>{{ user.id }}</span>
      </td> -->
      <!-- <td >
        <span>{{ i +1 }}</span>
      </td> -->
      <td>
        <span>{{ con.contestname }}</span>
      </td>
      <td>
        <span>&#8377;{{ con.entryfee }}</span>
      </td>
      <td>
        <span>{{ con.maxsize }}</span>
      </td>
      <td>
        <span>{{ con.minsize }}</span>
      </td>
      <td>
        <span>&#8377; {{ con.prizemoney }}</span>
      </td>
      <td>
        <span>&#8377; {{ con.rank1 }}</span>
      </td>
      <td>
        <span>&#8377; {{ con.rank2 }}</span>
      </td>
      <td>
        <span>&#8377; {{ con.rank3 }}</span>
      </td>
      <td>
        <span type="text">
          <button class="btn btn-success pt-1" (click)="edit(con)">
            <!-- Edit -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
              />
            </svg>
          </button>
        </span>
      </td>

      <td>
        <button class="btn btn-danger pt-1"  (click)="delete(con)"
        > 
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-square-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
            />
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>



<!-- Contest form -->

<form [formGroup]="contestform" *ngIf="!editStatus">

  <h3 class="display-6 kkk  " style="font-size:28px" >
    <u>Edit Contest Data</u>   </h3>
    <br> <br>
    <!-- PAir 1 -->
    <div class="d-flex justify-content-around">
      <!-- contestname -->
      <div>
        <input
          type="text"
          formControlName="contestname"
          placeholder="  Enter Contest name"
          title="Enter Contest name"

        />
        <div class="d-flex justify-content-center">
          <span [hidden]="contestname.valid || contestname.untouched">
            
            <div
              class="validation"
              [hidden]="!contestname.hasError('required')"
            >
              <span class="validationStar">*</span> Team Name is required.
            </div>
          </span>
        </div>
      </div>

      <!-- Entry fee       -->
      <div>
        <input
          type="text"
          formControlName="entryfee"
          placeholder="  Enter entry fee"
          title="Enter entryfee"

        />
        <div class="d-flex justify-content-center">
          <span [hidden]="entryfee.valid || entryfee.untouched">
            <div class="validation" [hidden]="!entryfee.hasError('required')">
              <span class="validationStar">*</span>entryfee is required.
            </div>
          </span>
        </div>
      </div>
    </div>

  <!-- PAir 2 -->
    <!-- Enter Max sixe -->
    <div class="d-flex justify-content-around">

      <div>
      <input
        type="text"
        formControlName="maxsize"
        placeholder="  Enter Max size "
        title="  Enter maxsize "
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="maxsize.valid || maxsize.untouched">
          <div class="validation" [hidden]="!maxsize.hasError('required')">
            <span class="validationStar">*</span> maxsize is required.
          </div>
        </span>
      </div>
      </div>
      <div>
      <!-- minsize -->
      <input
        type="text"
        formControlName="minsize"
        placeholder="  Enter Min size "
        title="  Enter minsize "
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="minsize.valid || minsize.untouched">
          <div class="validation" [hidden]="!minsize.hasError('required')">
            <span class="validationStar">*</span> minsize is required.
          </div>
        </span>
      </div>
      </div>
    </div>



    <!-- Pair 3 -->
    <!-- prizemoney -->
    <div class="d-flex justify-content-around">

      <div>
    <input
      type="text"
      formControlName="prizemoney"
      placeholder="  Enter Total Prize money "
      title="  Enter prizemoney "
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="prizemoney.valid || prizemoney.untouched">
        <div class="validation" [hidden]="!prizemoney.hasError('required')">
          <span class="validationStar">*</span> Prizemoney is required.
        </div>
      </span>
    </div>
    </div>

    <!-- rank1 -->
    <div>
    <input
      type="text"
      formControlName="rank1"
      placeholder="  Enter Rank #1 Prize money "
      title="  Enter rank1 Prize money "
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="rank1.valid || rank1.untouched">
        <div class="validation" [hidden]="!rank1.hasError('required')">
          <span class="validationStar">*</span> rank1 is required.
        </div>
      </span>
    </div>
    </div>

    </div>


    <!-- Pair 4 -->
    <!-- rank2 -->
    <div class="d-flex justify-content-around">

      <div>

        <input
        type="text"
      formControlName="rank2"
      placeholder="   Enter Rank #2 Prize money "
      title="   Enter rank2 Prize money "
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="rank2.valid || rank2.untouched">
        <div class="validation" [hidden]="!rank2.hasError('required')">
          <span class="validationStar">*</span> rank2 is required.
        </div>
      </span>
    </div>
  </div>

    <!-- rank3 -->

    <div>

      <input
      type="text"
      formControlName="rank3"
      placeholder="  Enter Rank #3 Prize money "
      title="  Enter rank3 Prize money "
    />
    <div class="d-flex justify-content-center">
      <span [hidden]="rank3.valid || rank3.untouched">
        <div class="validation" [hidden]="!rank3.hasError('required')">
          <span class="validationStar">*</span> Team Name is required.
        </div>
      </span>
    </div>
    </div>
        </div>


  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success me-5" [disabled]="!contestform.valid" (click)="save()">
      Save
    </button>
    <button type="submit" class="btn btn-danger" (click)="cancel()" >
      Cancel
    </button>
    <br>
  </div>
</form>
</div>
</div>
