<!-- Sidebar -->
<div class="d-flex flex-row">
    <div class="w3-light-grey w3-bar-block" style="width: 25%">
      <app-admin></app-admin>
    </div>
  
    <br />
    <br /> 
  
    <div class="container">
      <div><app-alldata></app-alldata>
      </div>
      <br />
     
        <h1 class="display-6">Game Rules</h1>
  
      <!-- </form> -->
    </div>
  </div>
  