<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin ></app-admin>
  </div>
  <br />
  <br />

  <div class="container">
    <div><app-alldata></app-alldata>
    </div>
    <br />
    <div class="d-flex justify-content-around">
      <h1 class="display-6">All Team</h1>
      <button (click)="createTeam()" class="btn btn-primary">New Team</button>
    </div>
    <br />
    <br />
    <!-- <form [formGroup]="editTable"> -->
    <table class="table table-light  table-hover table-striped" *ngIf="editStatus">
      <thead class="">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Logo</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        
        <tr *ngFor="let team of teams">
          <td>{{ team.id }}</td>
          <td>{{ team.name }}</td>
          <td>
            <img src="{{team.logo}}" width="35px" height="35px" alt="" />
          </td>
          <td>
            <span type="text">
              <button class="btn btn-success pt-1" (click)="edit(team)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pen-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
                  />
                </svg>
              </button>
            </span>
          </td>
          <td>
            <button class="btn btn-danger pt-1" (click)="delete(team)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <form [formGroup]="editTable" *ngIf="!editStatus">

      <h3 class="display-6 kkk  " style="font-size:28px" >
        <u>Edit Team Data</u>   </h3>
        <br> <br>
      <input type="text" value="" class="form-control" formControlName="name" />
      
      <input type="text" class="form-control" formControlName="logo" />

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success me-5" (click)="save()">
          Save
        </button>
        <button type="submit" class="btn btn-danger" (click)="cancel()">
          Cancel
        </button>
        <br>
      </div> 
    </form>
    <br>
    <div class="d-flex justify-content-around">
      <button (click)="createTeam()" class="btn btn-primary">New Team</button>
    </div>
    <!-- </form> -->
  </div>
</div>
